[gerrit]
	basePath = git
	canonicalWebUrl = http://swjbs.com:8101
	serverId = 98907921-acc4-4eda-b3fe-4d21c48c61a5
[container]
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	user = root
	javaHome = /usr/lib/jvm/java-11-openjdk-arm64
	javaOptions = -Djava.security.egd=file:/dev/./urandom
	javaOptions = --add-opens java.base/java.net=ALL-UNNAMED
	javaOptions = --add-opens java.base/java.lang.invoke=ALL-UNNAMED
	javaOptions = -Djava.security.egd=file:/dev/./urandom
	javaOptions = --add-opens java.base/java.net=ALL-UNNAMED
	javaOptions = --add-opens java.base/java.lang.invoke=ALL-UNNAMED
[index]
        type = lucene
[auth]
        type = http
        logoutUrl = http://aa:aa@swjbs.com:8101/login
        trustContainerAuth = true
[receive]
        enableSignedPush = false
[sendemail]
        from = 08031105kim@gmail.com
	smtpServer = localhost
[sshd]   
        listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
        directory = cache
